{
  "presets": [
    ["@babel/preset-env", {
      useBuiltIns: "entry", // or "entry"
      corejs: 3,
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-styled-components"
  ]
}